Source: ros-humble-flir-ptu-description
Section: misc
Priority: optional
Maintainer: "Tony Baltovski" <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/flir_ptu_description/#humble
Standards-Version: 3.9.2

Package: ros-humble-flir-ptu-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-urdf, ros-humble-xacro, ros-humble-ros-workspace
Description: URDF description of the FLIR PTUs.
